
@mixin action-btn(){
  display: inline-block;
  float: left;
  padding-left: 5px;
}
.action-btn-wrapper {
    > a, form {
      @include action-btn()
    }
}

.dropzone {
  border: 5px dotted #e5e5e5 !important;
}
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  font-size: 1.5em;
}

.quotation-thumbnail-wrapper {
  height: 200px;
  overflow: hidden;
  img {
    max-height: 160px;
  }
}
.padding-vertical-p5em {
  padding: .5em 0;
  border-bottom: 1px solid lighten(black, 95%);
}
@import "comment";

.site_title {
  img {
    max-height:100%;
    display: inline-block;
    float: left;
  }
  span {
    color: #2a96d3;
    padding-left: 3px;
    font-size: 18px;
  }
}
.navbar.nav_title {
  background-color: #ededed;
}